{% extends 'dashboard.html' %}
{% block title %}
Sales
{% endblock %}




{% block body %}
{% include 'navbar.html' %}
<div class="container">

    <h1 align="center">ADD SALES</h1>
    <hr>
    <div style="margin:5px;" class="container">
    <form method="POST">
    	{% csrf_token %}
    	
				<div class="user-details container">


  				<div class="input-box">
    			      <span class="details">Plant Serial no</span>
    			      <input type="text" class="form-control"  name="plantsmno">
  				</div>

  				<div class="input-box">
    			      <span class="details">Start Date</span>
    			      <input type="Date" class="form-control"  name="sdate">
  				</div>
          <br>


  				<div class="input-box">
    			      <span class="details">User</span>
                <select name='suser' class="form-control">
                  {% for i in usr %}
                    <option value={{ i.id }}>{{ i.first_name }}</option>
                  {% endfor %}
                </select>
  				</div>
          <br>

  				<div class="input-box">
    			      <span class="details">Software name</span>
    			      <select name='sname' class="form-control">
                  {% for i in soft %}
                  <option value={{ i.id }}>{{ i.name }}</option>
                  {% endfor %}
                </select>
  				</div>
          <br>

  				<div class="input-box">
    			      <span class="details">Price</span>
    			      <input type="text" class="form-control"  name="price">
  				</div>
          <br>

          <div class="input-box">
                <span class="details">Sales Type</span>
                <select name="stype">
                  <option value="MRP">MRP</option>
                  <option value="DTP">DTP</option>
                </select>
          </div>
          <hr>



   				<div class="input-box">
					<input type="submit" name="Submit" class="btn btn-warning">
				</div>

				</div>
			</form>
    </div>
		


</div>
   
{% endblock %}

