{% extends 'dashboard.html' %}
{% block title %}
Add Software
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
<div class="container">
    <h1 align="center">ADD SOFTWARE</h1>
    <hr>
    <div style="margin:5px;" class="container">
    <form method="POST">
    	{% csrf_token %}
        <div class="input-box">
                <label class="details">Software Name<strong style="color:red;">*</strong></label>
                <input type="text" name="sname" class="form-control">
        </div>
        <div class="input-box">
                <label class="details">Software URL<strong style="color:red;">*</strong></label>
                <input type="text" name="url" class="form-control">
        </div>
        <div class="input-box">
                <label class="details">Software Features Addon<strong style="color:red;">*</strong></label>
                <input type="text" name="feature" class="form-control">
        </div>
        <div class="input-box">
                <label class="details">Software Module Addon<strong style="color:red;">*</strong></label>
                <input type="text" name="module" class="form-control">
        </div>
        <hr>
        <div class="input-box">
                <input type="submit" name="submit" class="btn btn-primary">
        </div>    	
    </form>
    </div>
</div>
{% endblock %}