{% extends 'dashboard.html' %}
{% block title %}
Add User
{% endblock %}



{% block body %}
{% include 'navbar.html' %}
<div class="container">
    <h1 align="center">ADD USER</h1>
    <hr>
    <div style="margin:5px;" class="container">
    <form method="POST">
    	{% csrf_token %}
    	
				<div class="user-details container">

				  <div class="input-box">
    			        <span class="details">Name <strong style="color:red;">*</strong></span>
    			      
    			      	<input type="text"   name="nm1" placeholder="Firstname" class="form-control" value="{{musr.first_name}}">
    			      	<br>
    			      	<input type="text"  name="nm2" placeholder="Lastname"class="form-control" value="{{musr.last_name}}">
    		       </div>


  				<div class="input-box">
    			      <span class="details">Email</span>
    			      <input type="text" class="form-control"  name="email" value="{{musr.email}}">
  				</div>

  				<div class="input-box">
    			      <span class="details">Username</span>
    			      {% if musr %}
    			      
    			      			<input type="text" class="form-control"  name="usrname" value="{{musr.username}}" disabled>
    			      {% else %}
    			     
    			      			<input type="text" class="form-control"  name="usrname">
    			      {% endif %}
    			      
  				</div>

  				<div class="input-box">
    			      <span class="details">Password</span>
    			      <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
  				</div>


  				<div class="input-box">
    			      <span class="details">Mobile no</span>
    			      <input type="text" class="form-control"  name="mobileno" value="{{ausr.mobileno}}">
  				</div>

  				<div class="input-box">
    			      <span class="details">Company name</span>
    			      <input type="text" class="form-control"  name="cname" value="{{ausr.company_name}}">
  				</div>

  				<div class="input-box">
    			      <span class="details">Job Title</span>
    			      <input type="text" class="form-control"  name="jtitle" value="{{ausr.job_title}}">
  				</div>

  				<div class="input-box">
    			      <span class="details">Industry</span>
    			      <input type="text" class="form-control"  name="industry" value="{{ausr.industry}}">
  				</div>  								

       			<div class="input-box">
    				<span class="details">Address</span>
    				<input type="textarea" class="form-control"  name="add" value="{{ausr.location}}">
  				</div>

  				<div class="input-box">
    			      <span class="details">Discount</span>
    			      <input type="text" class="form-control"  name="discount" value="{{ausr.discount}}">
  				</div>
  				<hr>

   				<div class="input-box">
   					{% if musr %}
   					<input type="submit" name="Submit" value="Update" class="btn btn-danger">
   					{% else %}
					<input type="submit" name="Submit" class="btn btn-warning">
   					{% endif %}
				</div>

				</div>
			</form>	
		</div>
		

</div>
    	
   
{% endblock %}