{% extends 'dashboard.html' %}
{% block title %}
Add User
{% endblock %}



{% block body %}
{% include 'navbar.html' %}
<div class="container">
    <h1 align="center">ADD USER</h1>
    <hr>
    <div style="margin:5px;" class="container">
    <form method="POST">
    	{% csrf_token %}
    	
				<div class="user-details container">

				  <div class="input-box">
    			        <span class="details">Name <strong style="color:red;">*</strong></span>
    			      
    			      	<input type="text"   name="nm1" placeholder="Firstname" class="form-control">
    			      	<br>
    			      	<input type="text"  name="nm2" placeholder="Lastname"class="form-control" >
    		       </div>


  				<div class="input-box">
    			      <span class="details">Email</span>
    			      <input type="text" class="form-control"  name="email">
  				</div>

  				<div class="input-box">
    			      <span class="details">Username</span>
    			      <input type="text" class="form-control"  name="username">
  				</div>

  				<div class="input-box">
    			      <span class="details">Password</span>
    			      <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
  				</div>


  				<div class="input-box">
    			      <span class="details">Mobile no</span>
    			      <input type="text" class="form-control"  name="mobileno">
  				</div>

  				<div class="input-box">
    			      <span class="details">Company name</span>
    			      <input type="text" class="form-control"  name="cname">
  				</div>

  				<div class="input-box">
    			      <span class="details">Job Title</span>
    			      <input type="text" class="form-control"  name="jtitle">
  				</div>

  				<div class="input-box">
    			      <span class="details">Industry</span>
    			      <input type="text" class="form-control"  name="industry">
  				</div>  								

       			<div class="input-box">
    				<span class="details">Address</span>
    				<input type="textarea" class="form-control"  name="add">
  				</div>

  				<div class="input-box">
    			      <span class="details">Discount</span>
    			      <input type="text" class="form-control"  name="discount">
  				</div>
  				<hr>

   				<div class="input-box">
					<input type="submit" name="Submit" class="btn btn-warning">
				</div>

				</div>
			</form>	
		</div>
		

</div>
    	
   
{% endblock %}