{% extends 'dashboard.html' %}
{% block title %}
Dashboard
{% endblock %}



{% block body %}

{% if userid %}
        {% include 'navbar.html' %}
{% endif %}

<div class="container">
  <table class="table">
  <tbody>
    <tr>
      <th scope="row" class="card-group"></th>
      <td>
          <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">Sales</h5>
            <h6 class="card-subtitle mb-2 text-muted">Know Your Sales Stats</h6>
            <p class="card-text"><b>Total:</b>{{ csa }}</p>
            {% if userid %}
            <a href="/csales/{{ userid }}/" class="card-link btn btn-primary">Check Status</a>
            {% else %}
            <a href="/sales/" class="card-link btn btn-warning">Check Status</a>
            {% endif%}
            </div>
          </div> 
      </td>
      <td>
            <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">Subscription</h5>
            <h6 class="card-subtitle mb-2 text-muted">Know Your Subsciption Stats</h6>
            <p class="card-text"><b>Total:</b>{{ csub }}</p>
            {% if userid %}
            <a href="/csubscription/{{ userid }}/" class="card-link btn btn-primary">Check Status</a>
            {% else %}
            <a href="/subscription/" class="card-link btn btn-warning">Check Status</a>
            {% endif%}
            </div>
            </div> 
      </td>
    </tr>
  </tbody>
</table>  


</div>


{% endblock %}


