{% extends 'dashboard.html' %}

{% block title %}
Customer
{% endblock %}


{% block body %}

{% include 'navbar.html' %}


{% if sent %}

        <script type="text/javascript">alert("Invalid Number")</script>

{% endif %}

<div class="container" style="margin-top:20px;"> 
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"><b><u>Customers</u></b></a>
    <form class="d-flex" role="search" id="search-form" method="post" action="/customer/">
        {% csrf_token %}
      <input class="form-control me-2" type="text" placeholder="Search via phone no" aria-label="Search" id="search" name="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<hr> 

<div id="search-results">
        {% for i in usr %}

       <div class="navbar navbar-light bg-light item">
          <p class="navbar-brand">{{ i.first_name }}</p>

          <form class="form-inline">
            <a href="/manageuser/{{ i.id }}" class="card-link btn btn-danger">Manage</a>           
            <a href="/lcadmin/{{ i.id }}" class="card-link btn btn-primary">Check Logs</a>
          </form>
       </div>
       <hr>

        {% endfor %}
</div>
      

</div>



{% endblock %}