{% extends 'dashboard.html' %}
{% block title %}
Super Admin
{% endblock %}


{% block body %}


<div class="container" style="margin-top:80px;">

{% if error %}
      <script type="text/javascript" class="alert alert-danger">
        alert("Invalid Number or Username");
        window.location = "/lsa/";
      </script>
{% endif %}
<table class="table">
  <tbody>
    <tr>
      <th scope="row" class="card-group"></th>
      <td>
          <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title" align="center">Your Customer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Know Your Customer</h6>
            <p class="card-text"></p>
            <a href="/customer/" class="card-link btn btn-primary">Customer List</a>
            <a href="#" class="card-link btn btn-warning">Report</a>
            </div>
          </div> 
      </td>
      <td>
            <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">Software</h5>
            <h6 class="card-subtitle mb-2 text-muted">List of Software</h6>
            <p class="card-text"></p>
            <a href="/addsoftware/" class="card-link btn btn-primary">ADD Software</a>
            <a href="#" class="card-link btn btn-warning">Manage Software</a>
            </div>
            </div> 
      </td>
      <td>
            <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">User</h5>
            <h6 class="card-subtitle mb-2 text-muted">List of Users</h6>
            <p class="card-text"></p>
            <a href="/adduser/" class="card-link btn btn-primary">Add User</a>
            <a href="#" class="card-link btn btn-warning">Manage User</a>
            </div>
            </div> 
      </td>
    </tr>
    <tr>
      <th scope="row" class="card-group"></th>
      <td>
            <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">Subscription</h5>
            <h6 class="card-subtitle mb-2 text-muted">List of Subscription</h6>
            <p class="card-text"></p>
            <a href="/addsubscription/" class="card-link btn btn-primary">Add Subscription</a>
            <hr>
                <span class="card-link">
                  <form method="GET" action="/managesub/">
        
                    <input type="text" name="managesub" placeholder="Enter SMNO">
                    <input type="submit" name="Submit" value="Manage" class="btn btn-warning">
                    </form>
                </span>
            </div>
            </div> 
      </td>
      <td>
            <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">Sales</h5>
            <h6 class="card-subtitle mb-2 text-muted">List of Sales</h6>
            <p class="card-text"></p>
            <a href="/addsales/" class="card-link btn btn-primary">Add Sales</a>
            <hr>
                <span class="card-link">
                  <form method="GET" action="/managesale/">
                    
                    <input type="text" name="managesale" placeholder="Enter SMNO">
                    <input type="submit" name="Submit" value="Manage" class="btn btn-warning">
                    </form>
                </span>
            </div>
            </div> 
      </td>
      <td>
            <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">Reports</h5>
            <h6 class="card-subtitle mb-2 text-muted">All the Reports</h6>
            <p class="card-text"></p>
            <a href="#" class="card-link btn btn-warning">Report</a>
            <hr>
                <span class="card-link">
                  <form method="GET" action="/creport/">
                    
                    <input type="text" name="usrname" placeholder="Customer Username">
                    <input type="submit" name="Submit" value="Get Report" class="btn btn-danger">
                    </form>
                </span>
            </div>
            </div> 
      </td>
    </tr>
  </tbody>
</table>  

</div>

</main>
</div>
</div>


{% endblock %}

