{% extends 'dashboard.html' %}
{% block title %}
Sales List
{% endblock %}


{% block body %}
{% if userid %}
        {% include 'navbar.html' %}
{% endif %}

<div class="container" style="margin-top:20px;">

{% if sa %}
<h4 align="center">SALES</h4>


<table class="table">
  <tbody>
    <tr>
      <th scope="row" class="card-group"></th>
      <th>Sales</th>
      <th>SMNO</th>
      <th>Sales Date & Time</th>
      <th>Sales Type</th>
      <th>Price</th>
    </tr>
	</div>
	<tr>
      {% for i in sa %}
			<th scope="row" class="card-group"></th>
				<td>{{ i.usage_id.usage_software.name }}</td>
      			<td>{{i.plant_smno }}</td>
      			<td>{{ i.datetime }}</td>
      			<td>{{ i.sales_type }}</td>
      			<td>₹ {{ i.price }}</td>
       {% endfor %}
    </tr>
     
  </tbody>
</table>  


{% else %}
  
    <h4 align="center">No Data Available!!</h4>

{% endif %}
</div>
{% endblock %}