
{% extends 'dashboard.html' %}
{% block title %}
Subsciption List
{% endblock %}




{% block body %}
{% if userid %}

        {% include 'navbar.html' %}
        
{% endif %} 
<div class="container text-center" style="margin-top:20px;">


<h4 align="center">SUBSCRIPTIONS</h4>


<table class="table">
  <tbody>
    <tr>
      <th scope="row" class="card-group"></th>
      <th>Software</th>
      <th>SMNO</th>
      <th>Subscription End Date</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
	</div>
	
      {% for i in slist %}
      <tr>
			   <th scope="row" class="card-group"></th>
				<td>{{ i.usage_id.usage_software.name }}</td>
      			<td>{{i.plant_smno }}</td>
      			<td>{{ i.end_date }}</td>
      			<td>₹ {{ i.price }}</td>
      			<td>{{ i.status }}</td>
      </tr>
       {% endfor %}
    
     
  </tbody>
</table>  


</div>



{% endblock %}