
{% extends 'dashboard.html' %}
{% block title %}
Subscription
{% endblock %}

{% block body %}

{% if userid %}
        {% include 'navbar.html' %}
{% endif %}

<div class="container">

<table class="table">
  <tbody>
    <tr>
      <th scope="row" class="card-group"></th>
      


{% for i in soft %}

<td>
          <div class="card mb-3 border-danger" style="width: 25rem;">
            <div class="card-body">
            <h5 class="card-title">{{ i.usage_id__usage_software__name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Total: {{ i.count }}</h6>
            <p class="card-text"></p>
            {% if userid %}
            <a href="/csublist/{{ i.usage_id__usage_software__id }}/{{ userid }}" class="card-link btn btn-primary">Check Status</a>
            {% else %}
            <a href="/sublist/{{ i.usage_id__usage_software__id }}" class="card-link btn btn-warning">Check Status</a>
            {% endif%}
            </div>
          </div> 
</td>


{% endfor %}
</tr>
</tbody>
</table>  


</div>


{% endblock %}